.widget
  .widget-title
    i(class='fa fa-github')= ' ' + __('Github')
    
  - for (var i in theme.github)
    ul
    a(href='#{theme.github[i].url}' title='#{theme.github[i].title}' target='_blank') #{theme.github[i].title}
  iframe(width="100%",height="100",class="share_self",frameborder="0",scrolling="no",src="")