.widget
  .widget-title
    i(class='fa fa-biao')= ' ' + __('tags')
  .tagcloud
    != tagcloud({min_font: 12, max_font: 25, amount: 100, orderby: 'count', color: true, start_color: '#0000ff', end_color: '#ff00ff'})
